node_modules/
dist/
.next/
out/
coverage/
.turbo/
*.log
.env
.env.local
.env.*.local
!.env.example
uploads/
*.tsbuildinfo
.DS_Store
Thumbs.db
docker-data/
infra/certs/*
!infra/certs/.gitkeep
infra/certbot/www/*
!infra/certbot/www/.gitkeep
.idea/
.vscode/*
!.vscode/extensions.json
prisma/*.db
prisma/*.db-journal
